<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Home One || Insur || Insur HTML 5 Template </title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="~/assets/images/favicons/site.webmanifest" />
    <meta name="description" content="Insur HTML 5 Template " />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="~/assets/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="~/assets/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/jarallax/jarallax.css" />
    <link rel="stylesheet" href="~/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="~/assets/vendors/nouislider/nouislider.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/nouislider/nouislider.pips.css" />
    <link rel="stylesheet" href="~/assets/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/insur-icons/style.css">
    <link rel="stylesheet" href="~/assets/vendors/tiny-slider/tiny-slider.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/reey-font/stylesheet.css" />
    <link rel="stylesheet" href="~/assets/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" href="~/assets/vendors/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/vegas/vegas.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="~/assets/vendors/timepicker/timePicker.css" />
    <link rel="stylesheet" href="~/assets/vendors/ion.rangeSlider/css/ion.rangeSlider.min.css">

    <!-- template styles -->
    <link rel="stylesheet" href="~/assets/css/insur.css" />
    <link rel="stylesheet" href="~/assets/css/insur-responsive.css" />
</head>

<body>
    <header class="main-header clearfix">
        <div class="main-header__top">
            <div class="container">
                <div class="main-header__top-inner">
                    <div class="main-header__top-address">
                        <ul class="list-unstyled main-header__top-address-list">
                            <li>
                                <i class="icon">
                                    <span class="icon-pin"></span>
                                </i>
                                <div class="text">
                                    <p>30 Commercial Road Fratton, Australia</p>
                                </div>
                            </li>
                            <li>
                                <i class="icon">
                                    <span class="icon-email"></span>
                                </i>
                                <div class="text">
                                    <p><a href="mailto:needhelp@company.com">needhelp@company.com</a></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="main-header__top-right">
                        <div class="main-header__top-menu-box">
                            <ul class="list-unstyled main-header__top-menu">
                                <li><a href="about.html">Make a Claim</a></li>
                                <li><a href="faq.html"> FAQs</a></li>
                                <li><a href="about.html">About</a></li>
                            </ul>
                        </div>
                        <div class="main-header__top-social-box">
                            <div class="main-header__top-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="main-menu clearfix">
            <div class="main-menu__wrapper clearfix">
                <div class="container">
                    <div class="main-menu__wrapper-inner clearfix">
                        <div class="main-menu__left">
                            <div class="main-menu__logo">
                                <a href="index.html"><img src="assets/images/resources/logo-1.png" alt=""></a>
                            </div>
                            <div class="main-menu__main-menu-box">
                                <div class="main-menu__main-menu-box-inner">
                                    <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                                    <ul class="main-menu__list">
                                        <li class="dropdown current">
                                            <a href="index.html">HOME </a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">ABOUT US</a>
                                            <ul>
                                                <li><a id="ourCompany" href="#" >OUR COMPANY</a></li>
                                                <li><a id="ourTeam" href="#">OUR TEAM</a></li>
                                            </ul>

                                        </li>
                                        <li >
                                            <a href="#" id="ourService">SERVICES </a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">PROTECTION POLICY</a>
                                            <ul>
                                                <li><a href="portfolio.html">PROTECTION POLICY 1</a></li>
                                                <li><a href="portfolio-carousel.html">PROTECTION POLICY 2</a></li>
                                                
                                            </ul>
                                        </li>
                                       
                                        <li>
                                            <a href="contact.html">CONTACT </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="main-menu__main-menu-box-search-get-quote-btn">
                                    <div class="main-menu__main-menu-box-search">
                                        <a href="#" class="main-menu__search search-toggler icon-magnifying-glass"></a>
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                        <div class="main-menu__right">
                            <div class="main-menu__call">
                                <div class="main-menu__call-icon">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="main-menu__call-content">
                                    <a href="tel:9200368090">+92 (003) 68-090</a>
                                    <p>Call to Our Experts</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        @RenderBody()
        <hr />

        <!--Site Footer Start-->
        <footer class="site-footer">
            <div class="site-footer-bg" style="background-image: url(assets/images/backgrounds/site-footer-bg.png);">
            </div>
            <div class="container">
                <div class="site-footer__top">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                            <div class="footer-widget__column footer-widget__about">
                                <div class="footer-widget__logo">
                                    <a href="index.html"><img src="assets/images/resources/footer-logo.png" alt=""></a>
                                </div>
                                <div class="footer-widget__about-text-box">
                                    <p class="footer-widget__about-text">Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui esse pariatur duis deserunt.</p>
                                </div>
                                <div class="site-footer__social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook"></i></a>
                                    <a href="#" class="d-none"><i class="fab fa-pinterest-p"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                            <div class="footer-widget__column footer-widget__contact clearfix">
                                <h3 class="footer-widget__title">Contact</h3>
                                <ul class="footer-widget__contact-list list-unstyled clearfix">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-email"></span>
                                        </div>
                                        <div class="text">
                                            <p><a href="mailto:needhelp@company.com">needhelp@company.com</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-pin"></span>
                                        </div>
                                        <div class="text">
                                            <p>30 Commercial Road Fratton, Australia</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="footer-widget__open-hour">
                                    <h3 class="footer-widget__open-hour-title">Open Hours</h3>
                                    <h3 class="footer-widget__open-hour-text">
                                        Mon – Sat: 8:00 am to 6:00 pm Sunday: Closed
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                            <div class="footer-widget__column footer-widget__gallery clearfix">
                                <h3 class="footer-widget__title">Instagram</h3>
                                <ul class="footer-widget__gallery-list list-unstyled clearfix">
                                    <li>
                                        <div class="footer-widget__gallery-img">
                                            <img src="assets/images/resources/footer-widget-gallery-img-1.jpg" alt="">
                                            <a href="#"><span class="fa fa-link"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__gallery-img">
                                            <img src="assets/images/resources/footer-widget-gallery-img-2.jpg" alt="">
                                            <a href="#"><span class="fa fa-link"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__gallery-img">
                                            <img src="assets/images/resources/footer-widget-gallery-img-3.jpg" alt="">
                                            <a href="#"><span class="fa fa-link"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__gallery-img">
                                            <img src="assets/images/resources/footer-widget-gallery-img-4.jpg" alt="">
                                            <a href="#"><span class="fa fa-link"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__gallery-img">
                                            <img src="assets/images/resources/footer-widget-gallery-img-5.jpg" alt="">
                                            <a href="#"><span class="fa fa-link"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__gallery-img">
                                            <img src="assets/images/resources/footer-widget-gallery-img-6.jpg" alt="">
                                            <a href="#"><span class="fa fa-link"></span></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                            <div class="footer-widget__column footer-widget__newsletter">
                                <h3 class="footer-widget__title">Newsletter</h3>
                                <p class="footer-widget__newsletter-text">Subscribe our newsletter to get our <br> latest update & news.</p>
                                <form class="footer-widget__newsletter-form">
                                    <div class="footer-widget__newsletter-input-box">
                                        <input type="email" placeholder="Email address" name="email">
                                        <button type="submit" class="footer-widget__newsletter-btn">
                                            <i class="far fa-paper-plane"></i>
                                        </button>
                                    </div>
                                </form>
                                <div class="footer-widget__phone">
                                    <div class="footer-widget__phone-icon">
                                        <span class="icon-telephone"></span>
                                    </div>
                                    <div class="footer-widget__phone-text">
                                        <a href="tel:9200368090">+92 (003) 68-090</a>
                                        <p>Call to Our Experts</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="site-footer__bottom">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="site-footer__bottom-inner">
                                <p class="site-footer__bottom-text">
                                    © All Copyright 2022 by <a href="#">Insur.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--Site Footer End-->

    </div>

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>


    <script src="assets/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendors/jarallax/jarallax.min.js"></script>
    <script src="assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="assets/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="assets/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="assets/vendors/nouislider/nouislider.min.js"></script>
    <script src="assets/vendors/odometer/odometer.min.js"></script>
    <script src="assets/vendors/swiper/swiper.min.js"></script>
    <script src="assets/vendors/tiny-slider/tiny-slider.min.js"></script>
    <script src="assets/vendors/wnumb/wNumb.min.js"></script>
    <script src="assets/vendors/wow/wow.js"></script>
    <script src="assets/vendors/isotope/isotope.js"></script>
    <script src="assets/vendors/countdown/countdown.min.js"></script>
    <script src="assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="assets/vendors/bxslider/jquery.bxslider.min.js"></script>
    <script src="assets/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="assets/vendors/vegas/vegas.min.js"></script>
    <script src="assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="assets/vendors/timepicker/timePicker.js"></script>
    <script src="assets/vendors/circleType/jquery.circleType.js"></script>
    <script src="assets/vendors/circleType/jquery.lettering.min.js"></script>
    <script src="assets/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>



    <!-- template js -->
    <script src="assets/js/insur.js"></script>
    <script>
        $("#ourCompany").click(function () {
            
            $('html,body').animate({
                scrollTop: $(".about-one").offset().top-40
            },
                'slow');
        });
        $("#ourTeam").click(function () {
            
            $('html,body').animate({
                scrollTop: $(".team-one").offset().top
            },
                'slow');
        });
        $("#ourService").click(function () {
            
            $('html,body').animate({
                scrollTop: $(".services-one").offset().top
            },
                'slow');
        });
    </script>
</body>
</html>
